.container-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.row{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}

.row-10{
    height: 10%;
}

.border{
    border: 1px solid black;
}

.row-25{
    height: 25%;
}

.row-75{
    height: 75%;
}

.row-90{
    height: 90%;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    display: flex;
}

html{
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: monospace;
}
  
.head {
    margin: 0;
}

#navigation{
    background-color: white;
    width: 100%;
    
}

#navigation .row{
    padding: 12px;
}

#navigation-brand{
    margin: auto auto;
    width: auto;
    height: auto;
}

#navigation-brand img{
    max-width: 100%;
    width: auto;
    height: auto;
}

button{
    width: 100%;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    background-color: white;
    transition: background-color 0.1s;
}

button:hover{
    background-color: teal;
    color: white;
    transition: background-color 0.5s;
}

#navigation .col{
    justify-content: center;
}

#top-banner{
    width: 100%;
    height: 400px;
    background-image: url("images/background-boat1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#top-banner h1{
    padding: 4%;
    margin: auto auto;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 3px #000000;
    
}

#current-events{
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
}

#calendar iframe{
    margin: auto auto;
}

#current-events h1{
    margin: 25px auto;
    font-weight: bolder;
    font-size: xx-large;
    color: black;
}

#member-ad{
    width: 100%;
    height: 200px;
    background-image: url("images/background-boat2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25px;
}

#member-ad button{
    margin: auto;
    width: auto;
    height: auto;
    font-size: 4vh;
    border-radius: 4px;
    padding: 12px;
}

#member-ad h1{
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 6vh;
    font-weight: bolder;
    text-shadow: 1px 3px #000000;
}

#about-us{
    width: 100%;
    height: 600px;
    margin-bottom: 45px;
    margin-top: 20px;
}

#about-us h1{
    margin: auto;
}

#about-us .col-left{
    padding: 25px;
}

#about-us .col-left img{
    width: 100%;
    height: 100%;
}

#about-us .col-right{
    margin: 15px;
}

#about-us p{
    text-align: justify;
    font-size: 15px;
}

#footer{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(57, 64, 83);
}

#footer p{
    margin: auto;
    color: white;
    font-size: 16px;
    text-align: center;
}


/* Breakpoints */

@media (max-width: 1000px){
    .row{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;   
    }

    #about-us{
        height: auto;
    }

    #about-us .col-left{
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    #about-us .col-right{
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
    }

    #top-banner{
        background-repeat: no-repeat;
        background-attachment:unset;
    }

    #member-ad{
        background-repeat: no-repeat;
        background-attachment:unset;
    }
    
}

