.container-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.row{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}

.row-25{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
}

.col{
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    display: flex;
}

html{
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: monospace;
}
  
.head {
    margin: 0;
}

.navigation{
    width: 100%;
    height: auto;
    background-color: black;
}

.navigation .row .col{
    justify-content: center;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
}

#home.container-flex{
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#home img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#home .col{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#home .col.col-left{
    margin-left: 30%;
}

#home .col.col-right{
    margin-right: 30%;
}

#aboutMe.container-flex{
    height: 100%;
    background-color: black;
    color: white;
}

#aboutMe .row{
    justify-content: center;
    text-align: center;
}

#aboutMe p{
    padding: 10%;
    font-size: 2em;
}

#portfolio.container-flex{
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#portfolio .row{
    justify-content: center;
}

#contact.container-flex{
    height: 100%;
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
}

#contact .row{
    justify-content: center;
}

#contact-header-row{
    height: 10%;
    align-content: center;
}

#calendly-row{
    height: 90%;
    padding: 2%;
    background-color: rgb(105, 105, 105);
}



/* Put Animations down here */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* breakpoints */

@media (max-width: 860px){
    .row{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;   
    }

    .navigation .row .col{
        width: 100%;
    }

    #home.container-flex{
        height: 100%;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    #home img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 100px;
    }

    #home h1{
        margin-bottom: 100px;
    }
    
    #home .col{
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }
    
    #home .col.col-left{
        margin-left: 0;
    }
    
    #home .col.col-right{
        margin-right: 0;
    }
}

